/* TODO: put your css code here */
* {
	font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
	flex: 1 100%;
	border: 1px solid green;
	padding: 30px;
}
.wrapper .panel {
	flex: 1 auto;
    margin: 20px 20px 20px 0;
}
.wrapper .panel input {
	padding: 2px;
	border: 1px solid #ccc;
}
.wrapper .content {
    flex: 2 auto;
    margin: 20px 0;
}

@media all and (max-width: 768px) {
	.wrapper .mainheader { order: 1 }
  	.wrapper .panel  { flex: 1 100%; margin: 10px 0; order: 3; }
  	.wrapper .content  { flex: 1 100%; margin: 10px 0 0; order: 2; }
	.wrapper .mainfooter { order: 4 }
}

table{
	border: 1px solid black;
	width: 100%;
}

table tr th{
	background: #ccc;
	padding: 3px;
	text-align: left;
}

table tr td{
	background: #efefef;
	padding: 3px;
}

table tr:nth-child(odd) td{
	background: #fff;
	
}
